@import 'helper.scss';
.transaksi{
	display: block;
	.header{
		display: block;
		padding-bottom: 12px;
		border-bottom: 1px solid blue;
		h1,h3{
			margin: none;
		}
	}
	.form{
		display: block;
		box-sizing: border-box;
		padding: 12px;
		>div{
			display: block;
		}
		.row{
			display: block;
			box-sizing: border-box;

			&.inline{
				display: inline-block;
				float: left;
				width: 200px;
			}
		}
		.wr-table{
			
		}
	}
}

#print-box{
	&:after,&:before{
		content:' ';
		display: table;
		clear: both;
	}
	// max-width:500px;
	width:100%;
	height:auto;
	.divider{
		&:after,&:before{
			content:' ';
			display: table;
			clear: both;
		}
		width: 100%;
		height: 1px;
		border-top:1px dotted black;
		margin-top:12px;
		margin-bottom:12px;
	}
	h2,h5,h4{
		text-align: center;
		padding-left:12px;
		padding-right:12px;
		&.left{
			text-align: left;
		}
		&.right{
			text-align: right;
			padding-right:12px;
		}
	}
	table{
		margin-left:12px;
		margin-right:12px;
		margin-top:22px;
		margin-bottom:22px;
		box-sizing:border-box;
	}
	th,td{
		&.no-padding{
			padding:0 !important;
		}
		&.right{
			text-align:right;
		}
		&.w-auto{
			width: 1%;
		}
		&[colspan="5"]{
			padding:0;
		}
		&[colspan="4"]{
			text-align: right;
			padding-right:22px;
		}
		&:first-child{
			padding-right:12px;
		}
	}
	td:last-child{
		text-align: right;
	}
}