.transaksi{
	display: block;
	.header{
		display: block;
		padding-bottom: 12px;
		border-bottom: 1px solid blue;
		h1,h3{
			margin: none;
		}
	}
	.form{
		display: block;
		box-sizing: border-box;
		padding: 12px;
		>div{
			display: block;
		}
		.row{
			display: block;
			box-sizing: border-box;

			&.inline{
				display: inline-block;
				float: left;
				width: 200px;
			}
		}
		.wr-table{
			
		}
	}
}